/* google font */
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  background-color: #ebf2fa;
}

.hero-bg:before {
  background-image: linear-gradient(
    to right top,
    #05668d,
    #00778e,
    #00857c,
    #158f5b,
    #679436
  );
}

.clip-path-bg::before {
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0 92%);
}

.shadow-morp {
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}

.mobile-hero-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.55)
    ),
    url("./assets/images/mobile-img.jpg");
  background-repeat: no repeat;
  background-size: cover;
  /* background-position: center; */
}

.login-clip {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-image: linear-gradient(
    to right top,
    #05668d,
    #00778e,
    #00857c,
    #158f5b,
    #679436
  );
}

.text-linear-grad {
  background: linear-gradient(
    to right top,
    #05668d,
    #00778e,
    #00857c,
    #158f5b,
    #679436
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
