/* google font */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Wix Madefor Display', sans-serif;
  /* background: radial-gradient(at center, #EBF2FA, #FFFFFF); */
}

.hero-bg:before {
  background-image: linear-gradient(to right top, #05668d, #00778e, #00857c, #158f5b, #679436);
}

.clip-path-bg::before {
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0 92%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;